.youtube h2 {
  text-align: center;
}

.youtube {
  width: 100%;
}

.kamikamilab h3 {
  margin-top: 30px;
}

.music {
  margin-top: 80px;
}

.music-movies {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.music-movies iframe {
  margin: 20px;
}
