.HeaderNavigationButton{
  height: 100%;
  width: 150px;
  margin-left: 20px;
  margin-right: 20px;
  
  display: flex;
  justify-content: center;
  align-self: center;

  transition: all 0.2s;
}

.HeaderNavigationButton:hover{
  background-color: rgb(240, 240, 240);
}

.HeaderNavigationButton p{
  margin-top: 25px;
  font-size: 18px;
  color: #5A5A5A;
  font-weight: bolder;

  transition: all 0.3s;
}