.home{
  padding-top: 70px;
}

.top{
  height: 500px;
  background-color: #474949;

  background-image: url("../../images//TopImage.png");
  position: relative;
}

.top h1 {
  color: white;
  font-size: 60px;
  padding-top: 100px;
  text-align: center;
}

.content{
  margin: 0 auto;
  margin-top: 300px;
  margin-bottom: 300px;
  width: 600%;
  max-width: 950px;
}


.content-skill{
  margin: 0 auto;
  margin-bottom: 200px;
  text-align: center;
  height: 55px;
  width: 100%;
}

.content-skill h3{
  font-size: 40px;
}

.content-skill-list{
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
}

.skill-lang{
  width: 48%;
}

.skill-lang-content{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  border: solid 1px #00A8CC;
  border-radius: 1%;
}

.skill-lang-content h2{
  margin: 30px;
}

.skill-framework{
  width: 48%;
}

.skill-framework-title{
  background-color: white;
  width: 50%;
  margin: 0 auto;
}

.skill-framework-content{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  border: solid 1px #00A8CC;
  border-radius: 1%;
}

.skill-framework-content h2{
  margin: 30px;
}