.home{
  padding-top: 70px;
}

.top{
  height: 500px;
  background-color: #474949;

  background-image: url("../../images//TopImage.png");
  position: relative;

}

.top h1 {
  color: white;
  font-size: 60px;
  padding-top: 100px;
  text-align: center;
}

.content{
  margin: 0 auto;
  margin-top: 300px;
  height: 700px;
  width: 100%;
  max-width: 950px;
}

.content-skill{
  font-size: 28px;
  text-align: center;
  height: 55px;
}