.contact{
  padding-top: 80px;
  margin: 0 auto;
  max-width: 400px;
}

.contact h2, h3 {
  text-align: center;
}

.contact-icon{
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
}

