header {
  display: flex;
  justify-content: space-between;

  width: 100%;
  height: 70px;
  border-bottom: solid 2.2px #00A8CC;
  background-color: rgba(255, 255, 255, 0.87);
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.15);
  position: fixed;

  transition: all 0.3s;
}

.header-right{
  display: flex;  
  text-decoration: none;
}



h2{
  margin: 0;
}