@media (min-width: 960px) { 
  .Works{
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 90px;
    font-size: 36;
  }

  .title{
    text-align: center;
  }

  .toggle-button{
    width: 700px;
    margin: 50px auto;
    display: flex;
  }

  .toggle-button-content{
    text-align: center;
    width: 100%;
    padding: 20px;
    border: solid 1px #bebebe;

    font-size: 21px;
    font-weight: bold;

    transition: all 0.3s;
    cursor: pointer;
  }

  .toggle-button-content:hover{
      letter-spacing: 5px;
  }

  .toggle-button-selected{
    background-color: #ED9542;
    color: white;
  }

}