@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:400,500,700|Sen&display=swap&subset=japanese');

.App {
  font-family: 'Sen', sans-serif;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: #424242;
}

h1, h2, h3, h4, h5,p {
  margin: 0;
}


/* @media screen and (max-width: 960px) { 
  .App{
    width: 1000000px;
    max-width: 750px;
  }
} */