@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:400,500,700|Sen&display=swap&subset=japanese');

.App {
  font-family: 'Sen', sans-serif;
  font-family: 'M PLUS Rounded 1c', sans-serif;

  height: 1170px;
}

.header{
  width: 100%;
  position: fixed;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}
